@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap");
:root {
  --primary-color:#241917;
  --font-color:#f3f3f3;
  --font-primary:'Lato', sans-serif;
  --font-display:'Open Sans', sans-serif;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 56.25%;
  }
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: var(--primary-color);
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.2rem;
}

.heading-secondary {
  border-bottom: .5rem solid burlywood;
  font-family: var(--font-primary);
  font-size: 3.5rem;
  margin-top: -2rem;
  text-transform: uppercase;
}

.heading-tertiary {
  font-family: var(--font-display);
  word-spacing: .2rem;
  letter-spacing: .2rem;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.header {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(150, 148, 148, 0.7)), to(rgba(0, 0, 0, 0.5))), url(https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);
  background-image: linear-gradient(to right bottom, rgba(150, 148, 148, 0.7), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);
  background-repeat: no-repeat;
  width: 100%;
  height: 95vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.heading-primary {
  font-family: var(--font-primary);
  text-transform: uppercase;
  margin-top: -10rem;
  word-spacing: 0.4rem;
  letter-spacing: .5rem;
  color: var(--font-color);
}

.heading-primary--main {
  display: block;
  font-size: 4rem;
}

.heading-primary--sub {
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
}

.about {
  background-color: #f3f3f3;
  padding: 10rem 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(-webkit-min-content, 1fr));
      grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
  grid-gap: 7rem;
  color: black;
}

.about-right {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-row-gap: 6rem;
}

.about-heading {
  grid-column: 1/-1;
  -ms-grid-column-align: end;
      justify-self: end;
}

.about-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(45rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  grid-gap: 7rem;
}

@media only screen and (max-width: 37.5em) {
  .about-wrapper {
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}

.image {
  -webkit-filter: brightness(68%);
          filter: brightness(68%);
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.image::before {
  content: '';
  width: 100%;
  background-color: #241917;
  height: 2px;
  position: absolute;
  top: -4rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

.work {
  background-color: #565656;
  padding: 10rem 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(-webkit-min-content, 1fr));
      grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
  grid-gap: 7rem;
  color: black;
}

.work-heading {
  grid-column: 1/-1;
  -ms-grid-column-align: end;
      justify-self: end;
  color: var(--font-color);
}

.work-container {
  grid-column: 1/-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 7rem;
  justify-items: center;
  margin-bottom: 3rem;
}

.work-article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-img {
  width: 15rem;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.work-text {
  color: #f3f3f3;
}

.work-p {
  font-size: 2rem;
  font-weight: 100;
}

.stories {
  padding: 10rem 6rem;
  background-color: var(--font-color);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(-webkit-min-content, 1fr));
      grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
  grid-gap: 7rem;
}

.stories-heading {
  grid-column: 1/-1;
  -ms-grid-column-align: end;
      justify-self: end;
}

.stories-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(45rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  grid-gap: 7rem;
}

@media only screen and (max-width: 37.5em) {
  .stories-wrapper {
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}

.stories-img {
  width: 100%;
  height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 2px;
}

.stories-p {
  font-size: 3rem;
  font-style: italic;
  font-weight: 300;
  text-transform: capitalize;
  position: relative;
}

.stories-p::before {
  content: '\201D';
  color: #d3d3d37a;
  font-size: 20rem;
  position: absolute;
  top: -15rem;
  left: -5rem;
}

.stories-right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer {
  background-color: var(--primary-color);
  color: #f3f3f3;
  padding: 10rem 8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(22rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 5rem;
}

.footer-link:link, .footer-link:visited {
  text-decoration: none;
  font-size: 1.7rem;
  font-family: var(--font-display);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.navigation_checkbox {
  display: none;
}

.navigation_button {
  top: 5rem;
  right: 5rem;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  background-color: #f3f3f3;
  z-index: 2000;
  text-align: center;
  position: fixed;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

@media only screen and (max-width: 37.5em) {
  .navigation_button {
    height: 6rem;
    width: 6rem;
    right: 4rem;
  }
}

.navigation_background {
  position: fixed;
  background-image: radial-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  width: 6rem;
  height: 6rem;
  top: 5.5rem;
  right: 5.5rem;
  z-index: 1000;
  border-radius: 50%;
  -webkit-transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}

@media only screen and (max-width: 37.5em) {
  .navigation_background {
    height: 5rem;
    width: 5rem;
    right: 4.5rem;
  }
}

.navigation_nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  text-align: center;
  margin: 0 auto;
  padding: 15rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.navigation_item:link, .navigation_item:visited {
  display: table;
  margin: 1rem auto;
  padding: 0.8rem 2rem;
  text-decoration: none;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  background-image: linear-gradient(120deg, transparent 50%, #565656 50%);
  background-size: 250%;
  -webkit-transition: all .4s;
  transition: all .4s;
  font-family: var(--font-primary);
  font-weight: 400;
}

.navigation_item:hover, .navigation_item:active {
  background-position: 100%;
  color: burlywood;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navigation_checkbox:checked ~ .navigation_background {
  -webkit-transform: scale(55);
          transform: scale(55);
}

.navigation_checkbox:checked ~ .navigation_nav {
  opacity: 1;
  visibility: visible;
}

.navigation_icon {
  position: relative;
  margin-top: 3.5rem;
}

@media only screen and (max-width: 37.5em) {
  .navigation_icon {
    margin-top: 3rem;
  }
}

.navigation_icon, .navigation_icon::before, .navigation_icon::after {
  width: 3rem;
  height: 2.2px;
  background-color: darkgray;
  display: inline-block;
}

.navigation_icon::before, .navigation_icon::after {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navigation_icon::before {
  top: -.8rem;
}

.navigation_icon::after {
  top: .8rem;
}

.navigation_button:hover .navigation_icon::before {
  top: -1rem;
}

.navigation_button:hover .navigation_icon::after {
  top: 1rem;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon {
  background-color: transparent;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
/*# sourceMappingURL=main.css.map */